 <footer class="container-fluid">
    <nav class="navbar fixed-bottom navbar-light" style="background-color: lightgray;">
    <h4 class="display-6 navbar-text">&copy; Copyright 2020 JOSEPH VOLPE. ALL RIGHTS RESERVED.</h4>
    </nav>
</footer>