

<%- include('./partials/header.ejs') -%>

    

    <main class="container">
       <div class="row justify-content-md-center">
        <div class="col-3">
          <h2 class="h1"></h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-7">
          <h5 class="display-5">I am an aspiring programmer that hopes to gain enough knowledge and experience to be able to be apart of a program that i could present to an audience and share a unique experience with them.</h5>
          <hr class="my-4">
        </div>
      </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
            </div>
        </div>

    

      
    </main>
    
<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>