/* 
File name: style.css
Student Name: Joseph Volpe
StudentID: 301118010
Date: 10/8/2020
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
